/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.page-title,
.entry-title {
	@apply max-w-content mx-auto mb-6 text-3xl font-extrabold text-neutral-900;
}

/**
 * Layout styles for centered content areas
 *
 * If you are controlling the width of your content area with styles applied
 * to its container, you can delete the following styles whose selectors begin
 * with `.page-content >` and `.entry-content >`. For more details, please see
 * the following:
 *
 * https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
 */
.page-content > *,
.entry-content > * {
	/* Content width from the `theme.json` file */
	@apply max-w-content mx-auto;
}

.entry-content > .alignwide {
	/* Wide width from the `theme.json` file */
	@apply max-w-wide;
}

.entry-content > .alignfull {
	@apply max-w-none;
}

.entry-content > .alignleft {
	@apply float-left mr-8;
}

.entry-content > .alignright {
	@apply float-right ml-8;
}

section {
  scroll-margin: 120px;
}

.overlay-grey::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  z-index: 1;
	transition: all 0.2s;
}

.overlay-grey:hover::before {
	background: none;
}

.overlay-blue::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 32, 83, 0.5);
  pointer-events: none;
  z-index: 1;
	transition: all 0.2s;
}

.splide__arrow {
	background: none !important;
}

	.splide__arrow--prev {
		@apply md:!-left-16;
	}
	.splide__arrow--next {
  @apply md:!-right-16;
}

.splide__pagination .splide__pagination__page {
	transition: background 0.2s ease-out, opacity 0.2s ease-out, width 0.2s ease-out;
  border-radius: 6px;
	background: #cfcfcf;
}

.splide__pagination .splide__pagination__page.is-active {
  background: #049468;
  opacity: 1;
  width: 52px !important;
  transform: none;
}

.splide__pagination {
  @apply !-bottom-[50px] sm:!-bottom-[90px];
  padding: 0 24px;
}

.splide__pagination__page {
	@apply !h-2.5 !w-2.5;
}

@media (min-width:1440px) {
.section-news .splide__slide:not(.is-active):not(.is-prev):not(.is-next) {
  opacity: 0.5;
  }
}

#splide-ttb .splide__slide {
  transform: scale(.78);
  transition: font-size .2s cubic-bezier(.4, 0, .2, 1), transform .2s cubic-bezier(.4, 0, .2, 1);
  transform-origin: center;
}

#splide-ttb .splide__slide:nth-child(1 of .is-visible) {
  @apply text-[66px];
}

#splide-ttb .splide__slide:nth-child(2 of .is-visible) {
  @apply text-[58px];
}


#splide-ttb .splide__slide:nth-child(3 of .is-visible) {
  @apply max-w-full mx-auto opacity-30;
}

#splide-ttb .splide__slide:nth-child(4 of .is-visible) {
  @apply opacity-10 !text-[48px];
}

#splide-ttb .splide__slide.is-active {
  @apply scale-100 max-w-full;
}
