
.splide__arrow {
	background: none !important;
}

	.splide__arrow--prev {
		@apply md:!-left-16;
	}
	.splide__arrow--next {
  @apply md:!-right-16;
}

.splide__pagination .splide__pagination__page {
	transition: background 0.2s ease-out, opacity 0.2s ease-out, width 0.2s ease-out;
  border-radius: 6px;
	background: #cfcfcf;
}

.splide__pagination .splide__pagination__page.is-active {
  background: #049468;
  opacity: 1;
  width: 52px !important;
  transform: none;
}

.splide__pagination {
  @apply !-bottom-[50px] sm:!-bottom-[90px];
  padding: 0 24px;
}

.splide__pagination__page {
	@apply !h-2.5 !w-2.5;
}

@media (min-width:1440px) {
.section-news .splide__slide:not(.is-active):not(.is-prev):not(.is-next) {
  opacity: 0.5;
  }
}

/* #splide-ttb .splide__slide {
  transform: scale(0.78);
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
  opacity: 0.3;
}

#splide-ttb .splide__slide.is-active {
  transform: scale(1);
  opacity: 1;
  font-size: 66px;
}

#splide-ttb .splide__slide.is-visible:nth-child(2) {
  font-size: 58px;
}

#splide-ttb .splide__slide.is-visible:nth-child(3) {
  font-size: 50px;
  opacity: 0.3;
}

#splide-ttb .splide__slide.is-visible:nth-child(4) {
  font-size: 48px;
  opacity: 0.1;
} */

#splide-ttb .splide__slide {
  transform: scale(0.78);
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
  opacity: 0.1;
}

#splide-ttb .splide__slide.is-active {
  opacity: 1;
  transform: scale(1);
  font-size: 66px;
}

#splide-ttb .splide__slide.is-secondary {
  opacity: 0.7;
  font-size: 58px;
}

#splide-ttb .splide__slide.is-tertiary {
  opacity: 0.4;
  font-size: 50px;
}

#splide-ttb .splide__slide.is-last {
  opacity: 0.2;
  font-size: 48px;
}


#splide-ttb .arrow-next-ttb {
  @apply -bottom-[96px] !top-auto;
}

#splide-ttb .arrow-prev-ttb {
  @apply hidden;
}